In [1]:
import findspark
findspark.init()

import pyspark
import random

In [8]:
from pathlib import Path

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark=SparkSession.builder.appName('Basics').getOrCreate()

In [9]:
pwd

'D:\\Python environments\\Pyspark_env\\environments\\Notebooks'

In [14]:
path = Path('D:/Python environments/Pyspark_env/environments')

In [15]:
# D:\Python environments\Pyspark_env\environments\Data\Python-and-Spark-for-Big-Data-master\Spark_DataFrames

In [17]:
df=spark.read.json(f'{path}/data/Python-and-Spark-for-Big-Data-master/Spark_DataFrames/people.json')

In [18]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [19]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [20]:
df.columns

['age', 'name']

In [21]:
df.describe()

DataFrame[summary: string, age: string, name: string]

In [22]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [23]:
from pyspark.sql.types import (StructField,StringType,
IntegerType,StructType)

In [24]:
data_schema=[StructField('age',IntegerType(),True),
            StructField('name',StringType(),True)]

In [25]:
final_struc=StructType(fields=data_schema)

In [26]:
df=spark.read.json(f'{path}/data/Python-and-Spark-for-Big-Data-master/Spark_DataFrames/people.json',schema=final_struc)

In [27]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [28]:
type(df['age'])

pyspark.sql.column.Column

In [31]:
type(df.select('age'))

pyspark.sql.dataframe.DataFrame

In [30]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [32]:
df.head(2)

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [33]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [34]:
type(df.head(2)[0])

pyspark.sql.types.Row

In [36]:
df.select(['age', 'name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [40]:
df.withColumn('newage',df['age']*2).show()
# Not an inplace operation,save it to a new variable for inplace operation

+----+-------+------+
| age|   name|newage|
+----+-------+------+
|null|Michael|  null|
|  30|   Andy|    60|
|  19| Justin|    38|
+----+-------+------+

In [41]:
df.withColumnRenamed('age','mynewage').show()

+--------+-------+
|mynewage|   name|
+--------+-------+
|    null|Michael|
|      30|   Andy|
|      19| Justin|
+--------+-------+

In [43]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

# Spark SQL

In [44]:
df.createOrReplaceTempView('people')
# Registered temporary view

In [45]:
results=spark.sql("Select * from people")

In [46]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [47]:
newresults=spark.sql("Select * from people where age=30")
newresults.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+